.rank {
    width: 25px;
    text-align: start;
}
.symbol {
    width: 60px;
    text-align: start;
}
.name {
    width: 130px;
    text-align: start;
}
.priceUsd {
    width: 90px;
    text-align: end;
}
.marketCapUsd {
    width: 70px;
    text-align: end;
}
.vwap24Hr {
    width: 90px;
    text-align: end;
}
.supply {
    width: 75px;
    text-align: end;
}
.volumeUsd24Hr {
    width: 75px;
    text-align: end;
}
.changePercent24Hr {
    width: 55px;
    text-align: end;
}